.htmlcs-toggle {
  position: fixed;
  bottom: 0;
  background: black;
  padding: 10px;
  color: #aaaaaa;
  text-shadow: 0 -1px 0 #000000;
  text-transform: uppercase;
  width: 255px;
  left: 20px;
}

.htmlcs-toggle-label {
  float: left;
  margin: 4px;
}

.HTMLCS-close {
  display: none;
}
